<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <h1 class="mt-5 mb-5 text-4xl font-bold text-red-500"><u>Blog posts</u></h1>

    <ul>
        {% for post in posts %}
        <li>{{post.title}} - {{post.publsihed_date}} </li>
        <li>{{post.content}}</li>
        {% endfor %}
    </ul>

</body>

</html>